In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
data={'Engine_size':[2.0,2.4,1.5,3.5,3.5,3.5,3.5,3.7,3.7],
     'Cylinders':[4,4,4,6,6,6,6,6,6],
     'Fuel_consuption':[8.5,9.6,5.9,11.1,10.6,10.0,10.1,11.1,11.6],
     'CO2_estimation':[196,221,136,255,244,230,232,255,267]}
data=pd.DataFrame(data)
data.to_csv('CO2.csv', index=False)

In [2]:
data

   Engine_size  Cylinders  Fuel_consuption  CO2_estimation
0          2.0          4              8.5             196
1          2.4          4              9.6             221
2          1.5          4              5.9             136
3          3.5          6             11.1             255
4          3.5          6             10.6             244
5          3.5          6             10.0             230
6          3.5          6             10.1             232
7          3.7          6             11.1             255
8          3.7          6             11.6             267

In [3]:
y=data['CO2_estimation']

In [4]:
y=y.to_numpy()

In [5]:
X=data.drop(['CO2_estimation'], axis=1)

In [6]:
X

   Engine_size  Cylinders  Fuel_consuption
0          2.0          4              8.5
1          2.4          4              9.6
2          1.5          4              5.9
3          3.5          6             11.1
4          3.5          6             10.6
5          3.5          6             10.0
6          3.5          6             10.1
7          3.7          6             11.1
8          3.7          6             11.6

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import KFold, cross_val_score

In [11]:
models=[LinearRegression(), DecisionTreeRegressor(), RandomForestRegressor(), KNeighborsRegressor()]

for model in models:
    clf=model
    model.fit(X,y)
    print(model.score(X,y))

0.9999741736933903
1.0
0.9376349327947628
0.5958054182046104

c:\users\shamaila saeed\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [12]:
model = DecisionTreeRegressor()

In [13]:
m=model.fit(X,y)

In [14]:
precition= model.predict([[2.4,4,9.2]])

In [15]:
precition

array([221.])

In [16]:
from joblib import dump

dump(model, 'CO2_estimation.joblib')

['CO2_estimation.joblib']

In [12]:
#estimation= m.coef_[0]*2.4 +m.coef_[1]*4 + m.coef_[2]*9.2 + m.intercept_

#print(estimation)